#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn-login{
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 7rem;
}
.btn-logout{
    background-color: var(--pink);
    color: var(--white);
}
